@import url("https://fonts.googleapis.com/css2?family=Abel&family=Barlow:ital,wght@1,100&family=Catamaran:wght@100;500;700;900&family=Courier+Prime&family=Dancing+Script:wght@700&family=Inconsolata:wght@300;400;500&family=Inter&family=M+PLUS+1p:wght@100;300;400;500&family=Manrope:wght@500&family=Martian+Mono:wght@200&family=Playfair+Display:ital,wght@0,400;1,500&family=Rajdhani:wght@300&family=Roboto+Mono:ital,wght@0,500;1,300;1,400&family=Roboto:wght@300;400&family=Sora:wght@200&family=Space+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Catamaran', sans-serif; }

#root-div {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  min-width: 300px;
  max-width: 600px; }
  #root-div .add-new-note-section {
    width: 90%;
    height: 302px;
    min-width: 270px;
    max-width: 360px;
    background-color: #F3F2F1;
    border: 1px #008bd5 solid;
    position: absolute;
    z-index: -100;
    opacity: 1;
    margin-left: 5%;
    margin-top: 100px;
    border-radius: 8px;
    box-shadow: 20px 20px 60px grey; }
    #root-div .add-new-note-section .add-new-head-section {
      width: 100%;
      height: 30px;
      background-color: #E1DFDD;
      border-radius: 8px 8px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #root-div .add-new-note-section .add-new-head-section .add-another-note-bt {
        width: 30px;
        height: 30px;
        border-radius: 8px 0px 0px 0px;
        border: none;
        background: none;
        outline: none;
        cursor: pointer; }
        #root-div .add-new-note-section .add-new-head-section .add-another-note-bt:hover {
          background-color: #EEEEEE; }
        #root-div .add-new-note-section .add-new-head-section .add-another-note-bt .bi-plus-lg {
          font-size: 1.1rem; }
      #root-div .add-new-note-section .add-new-head-section .option-button {
        width: 30px;
        height: 30px;
        margin-left: 72%;
        border: none;
        background: none;
        outline: none;
        cursor: pointer; }
        #root-div .add-new-note-section .add-new-head-section .option-button:hover {
          background-color: #EEEEEE; }
        #root-div .add-new-note-section .add-new-head-section .option-button .bi-three-dots {
          font-size: 1rem; }
      #root-div .add-new-note-section .add-new-head-section .close-button {
        width: 30px;
        height: 30px;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        border-radius: 0px 8px 0px 0px; }
        #root-div .add-new-note-section .add-new-head-section .close-button:hover {
          background-color: #EEEEEE; }
        #root-div .add-new-note-section .add-new-head-section .close-button .bi-x {
          font-size: 1.2rem; }
    #root-div .add-new-note-section .input-fild {
      width: 99%;
      height: 230px;
      margin-left: 1.5px; }
      #root-div .add-new-note-section .input-fild .get-note {
        resize: none;
        appearance: none;
        outline: none;
        font-size: 1.2rem;
        font-family: inherit;
        background: none;
        border: none;
        width: 100%;
        height: 229px; }
        #root-div .add-new-note-section .input-fild .get-note::placeholder {
          font-size: 1rem;
          font-family: inherit; }
    #root-div .add-new-note-section .option-section {
      width: 100%;
      height: 39px;
      border-top: 1px  #777777 solid;
      border-radius: 0px 0px 8px 8px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #root-div .add-new-note-section .option-section .bold-button {
        width: 38px;
        height: 38px;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        border-radius: 0px 0px 0px 8px; }
        #root-div .add-new-note-section .option-section .bold-button:hover {
          background-color: #EEEEEE; }
        #root-div .add-new-note-section .option-section .bold-button .bi-type-bold {
          font-size: 1.1rem; }
      #root-div .add-new-note-section .option-section .italic-button {
        width: 38px;
        height: 38px;
        border: none;
        background: none;
        outline: none;
        cursor: pointer; }
        #root-div .add-new-note-section .option-section .italic-button:hover {
          background-color: #EEEEEE; }
        #root-div .add-new-note-section .option-section .italic-button .bi-type-italic {
          font-size: 1.8rem; }
      #root-div .add-new-note-section .option-section .under-line-button {
        width: 38px;
        height: 38px;
        border: none;
        background: none;
        outline: none;
        cursor: pointer; }
        #root-div .add-new-note-section .option-section .under-line-button:hover {
          background-color: #EEEEEE; }
        #root-div .add-new-note-section .option-section .under-line-button .bi-type-underline {
          font-size: 1.1rem; }
      #root-div .add-new-note-section .option-section .list-button {
        width: 38px;
        height: 38px;
        border: none;
        background: none;
        outline: none;
        cursor: pointer; }
        #root-div .add-new-note-section .option-section .list-button:hover {
          background-color: #EEEEEE; }
        #root-div .add-new-note-section .option-section .list-button .bi-list-ul {
          font-size: 1.1rem; }
      #root-div .add-new-note-section .option-section .add-image-button {
        width: 38px;
        height: 38px;
        border: none;
        background: none;
        outline: none;
        cursor: pointer; }
        #root-div .add-new-note-section .option-section .add-image-button:hover {
          background-color: #EEEEEE; }
        #root-div .add-new-note-section .option-section .add-image-button .bi-image-fill {
          font-size: 1.1rem; }
      #root-div .add-new-note-section .option-section .add-voice {
        width: 38px;
        height: 38px;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        border-radius: 0px 0px 8px 0px; }
        #root-div .add-new-note-section .option-section .add-voice:hover {
          background-color: #EEEEEE; }
        #root-div .add-new-note-section .option-section .add-voice .bi-mic {
          font-size: 1.1rem; }
  #root-div .settings-section {
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: inherit;
    max-width: 600px;
    z-index: 100;
    opacity: 1;
    border: 1px solid; }
    #root-div .settings-section .setting-head {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #root-div .settings-section .setting-head .back-button {
        width: 35px;
        height: 35px;
        border: none;
        background: none;
        outline: none;
        cursor: pointer; }
        #root-div .settings-section .setting-head .back-button:hover {
          background-color: #EEEEEE; }
        #root-div .settings-section .setting-head .back-button .bi-arrow-left {
          font-size: 1.2rem; }
      #root-div .settings-section .setting-head .section-name {
        color: black;
        margin-left: 50%;
        font-family: inherit;
        font-size: 1rem;
        cursor: default; }
      #root-div .settings-section .setting-head .close-button {
        width: 35px;
        height: 35px;
        border: none;
        background: none;
        outline: none;
        cursor: pointer; }
        #root-div .settings-section .setting-head .close-button:hover {
          background-color: #EEEEEE; }
        #root-div .settings-section .setting-head .close-button .bi-x {
          font-size: 1.4rem; }
    #root-div .settings-section .sing-section {
      width: 100%;
      height: 100px;
      margin-top: 5px; }
      #root-div .settings-section .sing-section .sing-text {
        color: black;
        font-size: 1.1rem;
        margin-left: 10px;
        cursor: default; }
      #root-div .settings-section .sing-section .sing-link {
        width: 100px;
        height: 40px;
        padding: 8px 6px;
        color: white;
        background-color: #007CBF;
        text-decoration: none;
        display: block;
        margin-top: 16px;
        margin-left: 10px;
        text-align: center;
        border-radius: 2px;
        font-size: 1rem;
        font-family: inherit; }
    #root-div .settings-section .general-section {
      width: 100%;
      height: 180px;
      margin-top: 5px; }
      #root-div .settings-section .general-section label {
        margin-left: 10px;
        margin-top: 10px; }
      #root-div .settings-section .general-section input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-tap-highlight-color: transparent;
        display: block;
        margin-left: 10px;
        cursor: pointer; }
        #root-div .settings-section .general-section input[type="checkbox"]:focus {
          outline: 0; }
      #root-div .settings-section .general-section .toggle {
        height: 22px;
        width: 50px;
        border-radius: 16px;
        display: inline-block;
        position: relative;
        margin: 0;
        border: 3px solid #000000;
        background-color: #000000;
        transition: all .2s ease; }
        #root-div .settings-section .general-section .toggle:after {
          content: '';
          position: absolute;
          top: 3px;
          left: 2px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: #FFFFFF;
          box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
          transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35); }
        #root-div .settings-section .general-section .toggle:checked {
          border-color: #007CBF;
          background-color: #008bd5; }
          #root-div .settings-section .general-section .toggle:checked:after {
            transform: translatex(27px); }
    #root-div .settings-section .color-theme-section {
      width: 100%;
      height: 200px;
      margin-top: 10px; }
      #root-div .settings-section .color-theme-section .radio {
        margin: 16px 0;
        display: block;
        margin-left: 10px;
        cursor: pointer; }
        #root-div .settings-section .color-theme-section .radio input {
          display: none; }
          #root-div .settings-section .color-theme-section .radio input + span {
            line-height: 22px;
            height: 22px;
            padding-left: 22px;
            display: block;
            position: relative; }
            #root-div .settings-section .color-theme-section .radio input + span:not(:empty) {
              padding-left: 30px; }
            #root-div .settings-section .color-theme-section .radio input + span:before, #root-div .settings-section .color-theme-section .radio input + span:after {
              content: '';
              width: 22px;
              height: 22px;
              display: block;
              border-radius: 50%;
              left: 0;
              top: 0;
              position: absolute; }
            #root-div .settings-section .color-theme-section .radio input + span:before {
              background: #D1D7E3;
              transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2); }
            #root-div .settings-section .color-theme-section .radio input + span:after {
              background: #fff;
              transform: scale(0.78);
              transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4); }
          #root-div .settings-section .color-theme-section .radio input:checked + span:before {
            transform: scale(1.04);
            background: #5D9BFB; }
          #root-div .settings-section .color-theme-section .radio input:checked + span:after {
            transform: scale(0.4);
            transition: transform .3s ease; }
        #root-div .settings-section .color-theme-section .radio:hover input + span:before {
          transform: scale(0.92); }
        #root-div .settings-section .color-theme-section .radio:hover input + span:after {
          transform: scale(0.74); }
        #root-div .settings-section .color-theme-section .radio:hover input:checked + span:after {
          transform: scale(0.4); }
    #root-div .settings-section .about-me-section {
      width: 100%;
      height: 246px; }
      #root-div .settings-section .about-me-section a {
        display: inline-block;
        margin-left: 50px;
        margin-top: 50px;
        cursor: pointer;
        font-size: 1.8rem;
        text-decoration: none;
        text-decoration: none; }
    #root-div .settings-section .sections-name-commn-style, #root-div .settings-section .general-section .section-name, #root-div .settings-section .color-theme-section .color-section-name, #root-div .settings-section .about-me-section .about-section-name {
      color: black;
      margin-left: 6px;
      margin-top: 4px;
      font-size: 1.2rem;
      cursor: default; }
  #root-div .head-section {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #root-div .head-section .add-new-note-button {
      width: 35px;
      height: 35px;
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
      margin-left: 2px;
      border-radius: 4px; }
      #root-div .head-section .add-new-note-button:hover {
        background-color: #EEEEEE; }
      #root-div .head-section .add-new-note-button .bi-plus-lg {
        font-size: 1.5rem; }
    #root-div .head-section .user-profile-image {
      width: 55px;
      height: 55px; }
      #root-div .head-section .user-profile-image .image-holder {
        width: 50px;
        height: 50px;
        margin: 2px auto;
        border-radius: 50px;
        background-image: url("./TestUserProfileImage/426040919_2046 (2).jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        cursor: pointer; }
    #root-div .head-section .settings-button {
      width: 35px;
      height: 35px;
      margin-right: 2px;
      border-radius: 4px;
      border: none;
      background: none;
      outline: none;
      cursor: pointer; }
      #root-div .head-section .settings-button:hover {
        background-color: #EEEEEE; }
      #root-div .head-section .settings-button .bi-gear {
        font-size: 1.3rem; }
  #root-div .app-name-section {
    width: 100%;
    height: 30px;
    margin-top: 2px; }
    #root-div .app-name-section .app-name-tag {
      font-size: 1.4rem;
      font-family: inherit;
      cursor: default;
      margin-left: 10px; }
  #root-div .search-section {
    width: 100%;
    height: 40px;
    margin-top: 4px; }
    #root-div .search-section .input-fild {
      width: 95%;
      height: 35px;
      border-radius: 2px;
      outline: none;
      background: none;
      margin-top: 4px;
      margin-left: 10px;
      border: none;
      background-color: #EEEEEE;
      font-family: inherit;
      font-size: 1.2rem; }
      #root-div .search-section .input-fild::placeholder {
        font-size: 1rem; }
    #root-div .search-section .search-button {
      width: 30px;
      height: 30px;
      margin-left: -35px;
      border-radius: 4px;
      border: none;
      background: none;
      outline: none;
      cursor: pointer; }
      #root-div .search-section .search-button:hover {
        background-color: #EEEEEE; }
      #root-div .search-section .search-button .bi-search {
        font-size: 1rem; }
  #root-div .note-holder-section {
    width: 100%;
    height: 633px;
    margin-top: 20px;
    background-color: inherit; }
    #root-div .note-holder-section .note-holder {
      width: 99%;
      height: 630px;
      margin: 0px auto;
      overflow: scroll;
      overflow-x: hidden; }
      #root-div .note-holder-section .note-holder::-webkit-scrollbar {
        width: 4px;
        height: 30px;
        border-radius: 20px;
        background-color: #FFFFFF; }
      #root-div .note-holder-section .note-holder::-webkit-scrollbar-thumb {
        width: 5px;
        height: 5px;
        border-radius: 20px;
        background-color: #696868; }
      #root-div .note-holder-section .note-holder:hover::-webkit-scrollbar {
        width: 10px;
        height: 10px; }
      #root-div .note-holder-section .note-holder .singel-note {
        width: 97%;
        height: 80px;
        background-color: #E2F1FF;
        margin: 6px auto;
        margin-bottom: 0px;
        border-radius: 4px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 80%; }
        #root-div .note-holder-section .note-holder .singel-note .note-date {
          font-size: 0.8rem;
          font-family: inherit;
          color: #777777;
          grid-row: 1/2;
          margin-left: 88%;
          cursor: default; }
        #root-div .note-holder-section .note-holder .singel-note .content {
          color: black;
          grid-row: 2/3;
          margin-left: 4px;
          font-size: 0.9rem; }

/*# sourceMappingURL=style.css.map */
