@import url("https://fonts.googleapis.com/css2?family=Abel&family=Barlow:ital,wght@1,100&family=Catamaran:wght@100;500;700;900&family=Courier+Prime&family=Dancing+Script:wght@700&family=Inconsolata:wght@300;400;500&family=Inter&family=M+PLUS+1p:wght@100;300;400;500&family=Manrope:wght@500&family=Martian+Mono:wght@200&family=Playfair+Display:ital,wght@0,400;1,500&family=Rajdhani:wght@300&family=Roboto+Mono:ital,wght@0,500;1,300;1,400&family=Roboto:wght@300;400&family=Sora:wght@200&family=Space+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Catamaran', sans-serif; }

#root-div {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  min-width: 300px;
  max-width: 600px; }
  #root-div .add-new-note-section {
    width: 90%;
    height: 300px;
    min-width: 270px;
    max-width: 360px;
    background-color: #F3F2F1;
    position: absolute;
    z-index: -200;
    opacity: 1;
    margin-left: 5%;
    margin-top: 100px;
    border-radius: 8px; }
    #root-div .add-new-note-section .add-new-head-section {
      width: 100%;
      height: 30px;
      background-color: #E1DFDD;
      border-radius: 8px 8px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #root-div .add-new-note-section .add-new-head-section .add-another-note-bt {
        width: 30px;
        height: 30px;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        border-radius: 8px 0px 0px 0px; }
        #root-div .add-new-note-section .add-new-head-section .add-another-note-bt .bi-plus-lg {
          font-size: 1.1rem; }
        #root-div .add-new-note-section .add-new-head-section .add-another-note-bt:hover {
          background-color: #EEEEEE; }
      #root-div .add-new-note-section .add-new-head-section .option-button {
        width: 30px;
        height: 30px;
        background: none;
        border: none;
        outline: none;
        cursor: pointer; }
        #root-div .add-new-note-section .add-new-head-section .option-button .bi-three-dots {
          font-size: 1rem; }
        #root-div .add-new-note-section .add-new-head-section .option-button:hover {
          background-color: #EEEEEE; }
      #root-div .add-new-note-section .add-new-head-section .close-button {
        width: 30px;
        height: 30px;
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 0px 8px 0px 0px; }
        #root-div .add-new-note-section .add-new-head-section .close-button .bi-x {
          font-size: 1.2rem; }
        #root-div .add-new-note-section .add-new-head-section .close-button:hover {
          background-color: #EEEEEE; }
  #root-div .settings-section {
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: #FFFFFF;
    max-width: 600px;
    z-index: -100;
    opacity: 0; }
    #root-div .settings-section .setting-head {
      width: 100%;
      height: 40px;
      border: 1px black solid;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #root-div .settings-section .setting-head .back-button {
        width: 35px;
        height: 35px;
        background: none;
        outline: none;
        border: none;
        cursor: pointer; }
        #root-div .settings-section .setting-head .back-button:hover {
          background-color: #EEEEEE; }
        #root-div .settings-section .setting-head .back-button .bi-arrow-left {
          font-size: 1.2rem; }
      #root-div .settings-section .setting-head .section-name {
        color: black;
        margin-right: 40%;
        font-family: inherit;
        font-size: 1rem;
        cursor: default; }
      #root-div .settings-section .setting-head .close-button {
        width: 35px;
        height: 35px;
        border: none;
        background: none;
        cursor: pointer;
        outline: none; }
        #root-div .settings-section .setting-head .close-button:hover {
          background-color: #EEEEEE; }
        #root-div .settings-section .setting-head .close-button .bi-x {
          font-size: 1.4rem; }
    #root-div .settings-section .sing-section {
      width: 100%;
      height: 120px;
      border: 1px red solid;
      margin-top: 20px; }
      #root-div .settings-section .sing-section .sing-text {
        color: black;
        font-size: 1.1rem;
        margin-left: 2px; }
      #root-div .settings-section .sing-section .sing-link {
        width: 100px;
        height: 40px;
        padding: 8px 6px;
        color: white;
        background-color: #007CBF;
        text-decoration: none;
        display: block;
        margin-top: 16px;
        margin-left: 10px;
        text-align: center;
        border-radius: 2px;
        font-size: 1rem;
        font-family: inherit; }
    #root-div .settings-section .general-section {
      width: 100%;
      height: 280px;
      border: 1px red solid;
      margin-top: 10px; }
  #root-div .head-section {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #root-div .head-section .add-new-note-button {
      width: 35px;
      height: 35px;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      margin-left: 2px;
      border-radius: 4px; }
      #root-div .head-section .add-new-note-button:hover {
        background-color: #EEEEEE; }
      #root-div .head-section .add-new-note-button .bi-plus-lg {
        font-size: 1.5rem; }
    #root-div .head-section .user-profile-image {
      width: 55px;
      height: 55px; }
      #root-div .head-section .user-profile-image .image-holder {
        width: 50px;
        height: 50px;
        margin: 2px auto;
        border-radius: 50px;
        background-image: url("./TestUserProfileImage/426040919_2046 (2).jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        cursor: pointer; }
    #root-div .head-section .settings-button {
      width: 35px;
      height: 35px;
      background: none;
      border: none;
      outline: none;
      margin-right: 2px;
      cursor: pointer;
      border-radius: 4px; }
      #root-div .head-section .settings-button:hover {
        background-color: #EEEEEE; }
      #root-div .head-section .settings-button .bi-gear {
        font-size: 1.3rem; }
  #root-div .app-name-section {
    width: 100%;
    height: 30px;
    margin-top: 2px; }
    #root-div .app-name-section .app-name-tag {
      font-size: 1.4rem;
      font-family: inherit;
      cursor: default; }
  #root-div .search-section {
    width: 100%;
    height: 40px;
    margin-top: 4px; }
    #root-div .search-section .input-fild {
      width: 98%;
      height: 35px;
      border-radius: 2px;
      outline: none;
      background: none;
      margin-top: 4px;
      margin-left: 2px;
      border: none;
      background-color: #EEEEEE;
      font-family: inherit;
      font-size: 1.2rem; }
      #root-div .search-section .input-fild::placeholder {
        font-size: 1rem; }
    #root-div .search-section .search-button {
      width: 30px;
      height: 30px;
      margin-left: -35px;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 4px; }
      #root-div .search-section .search-button:hover {
        background-color: #EEEEEE; }
      #root-div .search-section .search-button .bi-search {
        font-size: 1rem; }
  #root-div .note-holder {
    width: 98%;
    height: 600px;
    border: 1px red solid;
    margin-top: 4px;
    background-color: inherit; }
    #root-div .note-holder .ul-test {
      width: 99%;
      height: 500px;
      border: 1px aqua solid;
      overflow: scroll; }
      #root-div .note-holder .ul-test::-webkit-scrollbar-thumb {
        appearance: none; }
      #root-div .note-holder .ul-test .il-test {
        width: 90%;
        height: 100px;
        background-color: red;
        margin-top: 4px; }

/*# sourceMappingURL=style.css.map */
