@import url('https://fonts.googleapis.com/css2?family=Abel&family=Barlow:ital,wght@1,100&family=Catamaran:wght@100;500;700;900&family=Courier+Prime&family=Dancing+Script:wght@700&family=Inconsolata:wght@300;400;500&family=Inter&family=M+PLUS+1p:wght@100;300;400;500&family=Manrope:wght@500&family=Martian+Mono:wght@200&family=Playfair+Display:ital,wght@0,400;1,500&family=Rajdhani:wght@300&family=Roboto+Mono:ital,wght@0,500;1,300;1,400&family=Roboto:wght@300;400&family=Sora:wght@200&family=Space+Mono&display=swap');

//font family:

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$button-width : 35px;
$button-height : 35px;

$button-hover-bkColor: #EEEEEE;

$addNewNoteOptionSectionWidth: 38px;
$addNewNoteOptionSectionHight : 38px;

$addNewNoteLeftButtonBorderRadus : 8px 0px 0px 0px;
$addNewNoteRightButtonBorderRadus : 0px 8px 0px 0px;

$addNewNoteSectionIconeSize : 1.1rem;


$settingSectionWidth : 100%;

$settingSectionMarginLeft : 10px;


$radioSize: 22px;
$radioBorder: #D1D7E3;
$radioActive: #5D9BFB;


body{
    font-family:  'Catamaran', sans-serif;
}

@mixin alignItems(){
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin buttonStyle(){
    border: none;
    background: none;
    outline: none;
    cursor: pointer;

    &:hover{
        background-color: $button-hover-bkColor; 
    }
}


#root-div{
   width: 100vw;
   height: 100vh;
   background-color: #202020;
   min-width: 300px;
   max-width: 600px;
   color: #FFFFFF;
  // border: 1px red solid;
  .delete-box{
    width: 50%;
    height: 210px;
    border: 1px #008bd5 solid;
    position: absolute;
    margin-top: 200px;
    margin-left: 2%;
    max-width: 437px;
    min-width: 381px;
    border-radius: 4px;
    z-index: -100;
    opacity: 0;
    background-color: inherit;

    .text-box{
        font-size: 1.3rem;
        margin-top: 35px;
        margin-left: 20px;
    }
    label{
        font-size: 1.1rem;
        margin-left: 20px;
    }
    
    input{
        width: 20px;
        height: 20px;
        margin-left: 20px;
        margin-top: 10px;
        background-color: #008bd5;
    }

    .button-box{
        width: 350px;
        height: 80px;
        border: 1px red solid;
        margin-left: 20px;

        button{
            width: 130px;
            height: 40px;
            color: black;
            margin-left: 30px;
            margin-top: 15px;
            @include buttonStyle();
            background-color: #008bd5;
            border-radius: 2px;
        }

        .keep-button{
            background-color: #777777;
        }
    }
  }
  .open-delete-box{
    animation: openDeleteBox  500ms 200ms alternate forwards;
  }

   .add-new-note-section{
    width:90%;
    height: 302px;
    min-width: 270px;
    max-width: 360px;
    background-color: #F3F2F1;
    border: 1px #008bd5 solid;
    position: absolute;
    z-index: -100;
    opacity: 1;
    margin-left: 5%;
    margin-top: 100px;
    border-radius: 8px;
    box-shadow: 20px 20px 60px grey;

    .drop-down-section{
        width: 100%;
        height: 60%;
        position: absolute;
        z-index: -100;
      //  border: 1px solid;
        opacity: 0;
        border-radius: 8px 8px 0px 0px;
        background-color: #ffffff;///need to change
        transform: translateY(-15px);


        .note-color-section{
            width: 100%;
            height: 60px;
            display: flex;

            button{
                width: 60px;
                height: 60px;
                @include buttonStyle();
               // border: 0.5px red solid;
            }
        }

        .drop-down-option-section{
            width: 100%;
            height: 120px;
           // border: 1px red solid;

            .bt-section-tow{
                width: 100%;
                height: 60px;
                display: block;
                @include buttonStyle();

                i{
                    font-size : 1.5rem;
                    margin-right: 80px;
                }
            }
        }

        .close-drop-down-section{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 50;
            color: #000000;
            opacity: 0.6;

            .close-drop-down-bt{
                margin: 35px auto;
                display: block;
                margin-bottom: 0px;
                @include buttonStyle();

                .bi-x{
                    font-size: 1.4rem;
                    color: black;
                }
            }
        }
    }

    .open-drop-down {
        animation:  openDropDown 100ms 100ms alternate forwards;
    }


    .add-new-head-section{
        width: 100%;
        height: 30px;
        background-color:#E1DFDD;
        border-radius: 8px 8px 0px 0px;
        @include alignItems();
        
        
        
        .add-another-note-bt{
            width: 30px;//this tow add to mixin fuction later
            height: 30px;
          //  border-radius: 8px 0px 0px 0px;
            border-radius: $addNewNoteLeftButtonBorderRadus;
            @include buttonStyle();

            .bi-plus-lg{
                font-size: 1.1rem;
                color: inherit;
            }

        }

        .option-button{
            width: 30px;
            height: 30px;
            margin-left: 72%;
            @include buttonStyle();

            .bi-three-dots{
                font-size: 1rem;
            }
        }

        .close-button{
            width: 30px;//difine a var for this button
            height: 30px;//
            @include buttonStyle();
            border-radius: $addNewNoteRightButtonBorderRadus;

            .bi-x{
                font-size: 1.2rem;
            }
        }
    }

    .input-fild{
        width: 99%;
        height: 230px;
       // border: 1px red solid;
        margin-left: 1.5px;

        .get-note{
            resize: none;
            appearance: none;
            outline: none;
            font-size: 1.2rem;
            font-family: inherit;
            background: none;
            border: none;
            width: 100%;
            height: 229px;

            &::placeholder{
                font-size: 1rem;
                font-family: inherit;
            }
        }

    }

    .option-section{
        width: 100%; 
        height: 39px;
        //margin-left: 1.5px;
        border-top: 1px  #777777 solid;
        border-radius: 0px 0px 8px 8px;////
        @include alignItems();

        .bold-button{
            width: $addNewNoteOptionSectionWidth;
            height: $addNewNoteOptionSectionHight;
            @include buttonStyle();
            border-radius: 0px 0px 0px 8px ;

            .bi-type-bold{
                font-size: $addNewNoteSectionIconeSize;
            }
        }

        .italic-button{
            width: $addNewNoteOptionSectionWidth;
            height: $addNewNoteOptionSectionHight;
            @include buttonStyle();

            .bi-type-italic{
               font-size: 1.8rem;
            }
        }

        .under-line-button{
            width: $addNewNoteOptionSectionHight;
            height: $addNewNoteOptionSectionWidth;
            @include buttonStyle();

            .bi-type-underline{
                font-size: $addNewNoteSectionIconeSize;
            }
        }

        .list-button{
            width: $addNewNoteOptionSectionWidth;
            height: $addNewNoteOptionSectionHight;
            @include buttonStyle();

            .bi-list-ul{
                font-size: $addNewNoteSectionIconeSize;
            }
        }

        .add-image-button{
            width: $addNewNoteOptionSectionWidth;
            height: $addNewNoteOptionSectionHight;
            @include buttonStyle();

            .bi-image-fill{
                font-size: $addNewNoteSectionIconeSize;
            }
        }

        .add-voice{
            width: $addNewNoteOptionSectionWidth;
            height: $addNewNoteOptionSectionHight;
            @include buttonStyle();
            border-radius: 0px 0px 8px 0px;//
            .bi-mic{
                font-size: $addNewNoteSectionIconeSize;
            }
        }
    }

   }
   .opent-add-note-box{
    animation: openAddNoteBox 150ms 200ms alternate forwards;
   }

  .settings-section{
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: inherit;
    max-width: 600px;
    z-index: -100;
    opacity: 0;
    border: 1px solid;

     hr{
        width: 50%;
        margin-left: 20%;
     }

     .setting-head{
         width: $settingSectionWidth;
         height: 40px;
        // border: 1px black solid ;
         @include alignItems();
 
         .back-button{
             width: $button-width;
             height: $button-height;
             @include buttonStyle();
 
             .bi-arrow-left{
                 font-size: 1.2rem;
             }
         }
 
         .section-name{
             color: black;//
            // margin-left: -150px;
             margin-left: 50%;
             font-family: inherit;//
             font-size: 1rem;//
             cursor: default;
         }
 
         .close-button{
             width: $button-width;
             height: $button-height;
             @include buttonStyle();
 
             .bi-x{
                 font-size: 1.4rem;
             }
         }
     }

    .sing-section{
        width: $settingSectionWidth;
        height: 100px;
     //   border: 1px red solid;
        margin-top: 5px;

        .sing-text{
            color: black;
            font-size: 1.1rem;
            margin-left: $settingSectionMarginLeft;
           // margin-left: 10px;//
            cursor: default
        }

        .sing-link{
            width: 100px;
            height: 40px;
            padding: 8px 6px;
            color:white;
            background-color: #007CBF;
            text-decoration: none;
            display: block;
            margin-top: 16px;
           // margin-left: 10px;//
            margin-left: $settingSectionMarginLeft;
            text-align: center;
            border-radius: 2px;
            font-size: 1rem;
            font-family: inherit;
        }
    }


    .general-section{
        width: $settingSectionWidth;
        height: 180px;
      //  border: 1px red solid;
        margin-top: 5px;

        label{
            //margin-left: 10px;//
            margin-left: $settingSectionMarginLeft;
            margin-top: 10px;
        }

        input[type="checkbox"]{
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          -webkit-tap-highlight-color: transparent;
          display: block;
          //margin-left: 10px;
          margin-left: $settingSectionMarginLeft;

            cursor: pointer;
             &:focus{
                outline: 0
            }   
        }

        .toggle{
            height: 22px;
            width: 50px;
            border-radius: 16px;
            display: inline-block;
            position: relative;
            margin: 0;
            border: 3px solid #000000;
           // background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
            background-color: #000000;
            transition: all .2s ease;

            &:after{
                 content: '';
              position: absolute;
              top: 3px;
              left: 2px;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background: #FFFFFF;
              box-shadow: 0 1px 2px rgba(44,44,44,.2);
              transition: all .2s cubic-bezier(.5,.1,.75,1.35);
            };
             
            &:checked{
                border-color: #007CBF;
                background-color: #008bd5;
                

              &:after{
                transform: translatex(27px);
              }
            }
        }

        .section-name{
            @extend .sections-name-commn-style;
        }
    }

    .color-theme-section{
        width: $settingSectionWidth;
        height: 200px;
      //  border: 1px red solid;
        margin-top: 10px;

        .color-section-name{
            @extend .sections-name-commn-style;
        }

        .radio {
            margin: 16px 0;
            display: block;
           // margin-left: 10px;//
            margin-left: $settingSectionMarginLeft;
            cursor: pointer;
            input {
                display: none;
                & + span {
                    line-height: $radioSize;
                    height: $radioSize;
                    padding-left: $radioSize;
                    display: block;
                    position: relative;
                    &:not(:empty) {
                        padding-left: $radioSize + 8;
                    }
                    &:before,
                    &:after {
                        content: '';
                        width: $radioSize;
                        height: $radioSize;
                        display: block;
                        border-radius: 50%;
                        left: 0;
                        top: 0;
                        position: absolute;
                    }
                    &:before {
                        background: $radioBorder;
                        transition: background .2s ease, transform .4s cubic-bezier(.175, .885, .32, 2);
                    }
                    &:after {
                        background: #fff;
                        transform: scale(.78);
                        transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
                    }
                }
                &:checked + span {
                    &:before {
                        transform: scale(1.04);
                        background: $radioActive;
                    }
                    &:after {
                        transform: scale(.4);
                        transition: transform .3s ease;
                    }
                }
            }
            &:hover {
                input {
                    & + span {
                        &:before {
                            transform: scale(.92);
                        }
                        &:after {
                            transform: scale(.74);
                        }
                    }
                    &:checked + span {
                        &:after {
                            transform: scale(.4);
                        }
                    }
                }
            }
        }

    }

    .about-me-section{
        width: $settingSectionWidth;
        height: 240px;
      //  border: 1px solid;

        .about-section-name{
            @extend .sections-name-commn-style;
        }

        a{
            display: inline-block;
            margin-left: 10px;
            margin-top: 50px;
            cursor: pointer;

            font-size: 1.5rem;
            text-decoration: none;
            text-decoration: none;
            
        }
    }

    .sections-name-commn-style{
        color: black;
        margin-left: 6px;
        margin-top: 4px;
        font-size: 1.2rem;
        cursor: default;
    }

  }
  .opent-setting-section{
    animation: openSettingSection 400ms 300ms alternate forwards;
  }
    
   .head-section{
    width: 100%;
    height: 60px;
    //border: 1px  solid;
    @include alignItems();
    
    .add-new-note-button{
        width: $button-width;
        height: $button-height;
        @include buttonStyle();
        margin-left: 2px;
        border-radius: 4px;

        .bi-plus-lg{
            font-size: 1.5rem;
        }
    }

    .user-profile-image{
        width: 55px;
        height: 55px;
       // border: 1px red solid;

        .image-holder{
            width: 50px;
            height: 50px;
            margin: 2px auto;
           // border: 1px greenyellow solid;
            border-radius: 50px;
          //  background-image: url('./TestUserProfileImage/426040919_2046\ \(2\).jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            cursor: pointer;
        }
    }

    .settings-button{ 
        width: $button-width;
        height: $button-height;
        margin-right: 2px;
        border-radius: 4px;
        @include buttonStyle();
    

        .bi-gear{
            font-size: 1.3rem;
        }
    }

   }

   .app-name-section{
    width: 100%;
    height: 30px;
    margin-top: 2px;
   // border: 1px red solid;

    .app-name-tag{
        font-size: 1.4rem;
        font-family: inherit;
        cursor: default;
        margin-left: 10px;
    }

   }

   .search-section{
    width: 100%;
    height: 40px;
  //  border: 1px red solid;
    margin-top: 4px;

    .input-fild{
      width: 95%;
      height: 35px;
      border-radius: 2px;
      outline: none;
      background: none;
      margin-top: 4px;
      margin-left: 10px;
      border: none;
      background-color: #EEEEEE;
      font-family: inherit;
      font-size: 1.2rem;

      &::placeholder{
        font-size: 1rem;
      }
    }

    .search-button{
        width: 30px;
        height: 30px;
        margin-left: -35px;
        border-radius: 4px;
        @include buttonStyle();
        
        .bi-search{
            font-size: 1rem;
        }
    }
   }

   .note-holder-section{
    width: 100%;
    height: 633px;
   // border: 1px solid;
    margin-top: 20px;
    background-color: inherit;

    .note-holder{
        width: 99%;
        height: 630px;
      //  border: 1px red solid;
        margin: 0px auto;
        overflow: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar{
            width: 4px;
            height: 30px;
            border-radius: 20px;
            background-color: #FFFFFF;
        };

        &::-webkit-scrollbar-thumb{
            width: 5px;
            height: 5px;
            border-radius: 20px;
            background-color: #696868;
        };

        &:hover::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        };

        .singel-note{
            width: 97%;
            height: 80px;
            background-color: #E2F1FF;
            margin: 6px auto;
            margin-bottom: 0px;
            border-radius: 4px;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 20% 80%;

            
            .note-date{
                font-size: 0.8rem;
                font-family: inherit;
                color: #777777;
                grid-row: 1/2;
                margin-left: 88%;
                cursor: default;
            }

            .content{
                color: black;
                grid-row: 2/3;
                margin-left: 4px;
                font-size: 0.9rem;
            }
        }
    }
   }
}



@keyframes openDropDown {
    0%{
        opacity: 0;
        z-index: -100;
        transform: translateY(-15px);
    }
    50%{
        opacity: 0.5;
        z-index: -50;
        transform: translateY(-10px)
    }
    70%{
        opacity: 0.8;
        z-index: -20;
        transform: translateY(-5px)
    }
    100%{
        opacity: 1;
        z-index: 100;
        transform: translateY(0px)
    }
}



@keyframes openDeleteBox {
    0%{
        z-index: -100;
        opacity: 0;
    }
    50%{
        z-index: -50;
        opacity: 0.5;
    }
    100%{
        z-index: 100;
        opacity: 1;
    }
}

@keyframes openAddNoteBox{
    from{
        z-index: -100;
        opacity: 0;
    }
    to{
        z-index: 100;
        opacity: 1;
    }
}

@keyframes openSettingSection {
   0%{
        z-index: -100;
        opacity: 0;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    50%{
        opacity: 0.5;
    }
    70%{
        opacity: 0.7;
    }
    100%{
        z-index: 100;
        opacity: 1;
    }
}